@import "bootstrap"
@import "_helpers"

.content
  position: relative
.content__inner
  &.translucent
    +opacity(25)

.content__preloader
  position: absolute
  display: none
  z-index: 900
  top: 80px
  left: 50%
  margin-left: -32px


// Ovveride bootstrap
a, input, select
  outline: none!important

.navbar-inverse
  color: #fff

.container-narrow
  margin: 0 auto
  max-width: 700px

.header
  margin: 40px 0 20px
  padding: 10px 0
  border-bottom-color: #EEEEEE
  border-bottom-style: solid
  border-bottom-width: 1px

.navbar
  margin-bottom: 10px

form
  .error
    +formFieldState($errorText, $errorText, $errorBackground)

.input-xsmall
  width: 35px

.errors
  color: #f00
  ul
    list-style: none
    margin: 0 0 18px 0
  
.jumbotron
  margin: 40px 0
  text-align: center

.jumbotron h1
  font-size: 72px
  line-height: 1

.internal_credit
  line-height: 20px  

.billing_card
  line-height: 40px  

// Billing plans
.billint_plan
  text-align: center
.billint_plan__title
  padding: 0 0 10px
  border-bottom: 1px solid $hrBorder
.billint_plan__features
  margin: 0
  padding: 5px 0 15px
  list-style: none
  border-bottom: 1px solid $hrBorder
.billint_plan__price
  min-height: 60px
  padding: 20px 0
  border-bottom: 1px solid $hrBorder

// Footer
.footer
  margin-top: 80px
  padding: 20px 0 40px
  border-top: 1px solid $hrBorder